@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*i inputs invisible(light mode) */
.input, .textarea {
  background-color: oklch(var(--b1));
  border-color: oklch(var(--bc) / 0.3);
  color: oklch(var(--bc));
}

.input::placeholder, .textarea::placeholder {
  color: oklch(var(--bc) / 0.4);
}

/* Fix barres Skills dans les deux modes */
.skill-bar-bg {
  background-color: oklch(var(--bc) / 0.25);
}

[data-theme="light"] .skill-bar-bg {
  background-color: #d1d5db;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}